contrib
google-auth
google-auth-oauthlib
google-pasta
graphviz
gTTS
gTTS-token
imageio
importlib-metadata
imutils
ipykernel
ipython
joblib
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
notebook
numpy
opencv-contrib-python
opencv-python
pandas
pickleshare
Pillow
playsound
PyAudio
pyttsx3
scikit-learn
scikit-video
scipy
seaborn
sklearn
SpeechRecognition
tensorboard
tensorflow
tensorflow-estimator
tflearn
ttkthemes
virtualenv
virtualenvwrapper-win
XlsxWriter
zipp
